body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#vanta-bg {
    width: 100%;
    height: 100%;
}
.carousel-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel-item.active {
    opacity: 1;
}