<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <multipart-config>
        <location>/tmp</location>
        <max-file-size>5242880</max-file-size> <!-- 5MB max file size -->
        <max-request-size>20971520</max-request-size> <!-- 20MB max request size -->
        <file-size-threshold>1048576</file-size-threshold> <!-- 1MB before writing to disk -->
    </multipart-config>

    <servlet>
        <servlet-name>CabAssignServlet</servlet-name>
        <servlet-class>com.example.megacitycab.controllers.cab.CabAssignController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CabAssignServlet</servlet-name>
        <url-pattern>/cabassign/list</url-pattern>
    </servlet-mapping>

</web-app>