::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
}

tr {
    transition: all 0.3s ease;
}

.dropdown-row {
    transition: all 0.3s ease;
}

.dropdown-row td {
    padding: 1rem;
    text-align: center;
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.dropdown-row {
    animation: slideDown 0.3s ease;
}

.rotate-180 {
    transform: rotate(180deg);
}

.fi.fi-rr-caret-down {
    transition: transform 0.3s ease-in-out;
}

.step {
    position: relative;
    padding-left: 2rem;
    margin-left: 1rem;
}

.step::before {
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    bottom: -24px;
    width: 2px;
    background-color: #e5e7eb;
}

.step:last-child::before {
    display: none;
}