# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### Sensitive ###
src/main/resources/application.properties

src/main/webapp/web/WEB-INF/web.xml
src/main/webapp/WEB-INF/web.xml